.account {
  padding:30px;

  h2 {
    font-size: 24px;
    color: #374159;
    line-height: 25px;
    margin-bottom: 30px;
  }
  
  .datapanel{
    background: #fff;
    padding: 30px;
    border-radius: 3px;
  }
}
