.account {
  padding:0 30px;

  h2 {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 70px;
    height: 70px;
    border-bottom: 1px solid #e8e8e9;
  }
  
  .datapanel{
    background: #fff;
    padding: 30px;
    border-radius: 3px;
  }
}
