.block {
  padding: 30px;

  h2 {
    font-size: 24px;
    color: #374159;
    line-height: 25px;
  }
  
  .blockHeight {
    background: #5A77D2;
    background-image: url('../../images/overview_bg.png');
    background-repeat: no-repeat;
    background-size: 100% !important;
  }

  .dark {
    background: #C5CBD5;
    background-image: url('../../images/overview_bg.png');
    background-repeat: no-repeat;
  }

  .blockSwiper {
    height: 94px;
    width: 180px;
    padding: 24px 0;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
    border-radius: 4px;
    cursor: pointer;
    margin: auto;

    &:hover {
      box-shadow: 0 0 10px #C5CBD5;
    }

    .blockHeightTitle {
      font-size: 14px;
      color: #FFFFFF;
      text-align: center;
      line-height: 14px;
      margin-bottom: 8px;
    }

    .blockHeightValue {
      font-size: 40px;
      color: #FFFFFF;
      text-align: center;
      line-height: 40px;
    }

  }
}

:global {
  .swiper-slide{
    &::after{
      content: '';
      position: absolute;
      background: #C5CBD5;
      width: 17px;
      height: 1px;
      bottom: 43px;
      right: -8px;
    }
  }
  .success{
    position: relative;
    padding-left: 16px;
    &::before{
      content: '';
      background: #00A9FF;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      position: absolute;
      left: 0px;
      top: 6px;
    }
    
  }
}

