<template name="container">
  <h3>概览</h3>
  <div>
    <fj-Row class="{styles.gl}">
      <fj-Col l=1 s=4 xs=12>区块高度
      </fj-Col>
      <fj-Col l=3 s=8 xs=12>{blockdata && blockdata.height || 0 }
      </fj-Col>
      <fj-Col l=1 s=4 xs=12>区块哈希
      </fj-Col>
      <fj-Col l=3 s=8 xs=12>{blockdata && blockdata.hash && blockdata.hash.value || ''}
      </fj-Col>
      <fj-Col l=1 s=4 xs=12>前置区块哈希
      </fj-Col>
      <fj-Col l=3 s=8 xs=12>
        <span  style="cursor: pointer;" onClick={goBlock}>
          {blockdata && blockdata.previousHash && blockdata.previousHash.value || ''}
        </span>
      </fj-Col>
    </fj-Row>
    <fj-Row class="{styles.gl}">
      <fj-Col l=1 s=4  xs=12>交易数量
      </fj-Col>
      <fj-Col l=3 s=8  xs=12>{txCount || 0}
      </fj-Col>
       <fj-Col l=1 s=4  xs=12>交易集哈希
      </fj-Col>
      <fj-Col l=3 s=8  xs=12>{blockdata && blockdata.transactionSetHash && blockdata.transactionSetHash.value || ''} 
      </fj-Col>
      <fj-Col l=1 s=4  xs=12>账本哈希
      </fj-Col>
      <fj-Col l=3 s=8  xs=12>{blockdata && blockdata.ledgerHash && blockdata.ledgerHash.value || ''}
      </fj-Col>
    </fj-Row>
    <fj-Row class="{styles.gl}">
      <fj-Col l=1 s=4  xs=12>用户集哈希
      </fj-Col>
      <fj-Col l=3 s=8  xs=12>{blockdata && blockdata.userAccountSetHash && blockdata.userAccountSetHash.value || ''} 
      </fj-Col>
      <fj-Col l=1 s=4  xs=12>合约集哈希
      </fj-Col>
      <fj-Col l=3 s=8  xs=12>{blockdata && blockdata.contractAccountSetHash && blockdata.contractAccountSetHash.value || ''} 
      </fj-Col>
      <fj-Col l=1 s=4  xs=12>配置集哈希
      </fj-Col>
      <fj-Col l=3 s=8  xs=12>{blockdata && blockdata.adminAccountHash && blockdata.adminAccountHash.value || ''}  
      </fj-Col>
    </fj-Row>
    <fj-Row class="{styles.gl}">
      <fj-Col l=1 s=4  xs=12>数据账户集哈希
      </fj-Col>
      <fj-Col l=3 s=8  xs=12>{blockdata && blockdata.dataAccountSetHash && blockdata.dataAccountSetHash.value || ''}  
      </fj-Col>
      <fj-Col l=1 class="{styles.hidden_s}">
      </fj-Col>
      <fj-Col l=3 class="{styles.hidden_s}"> 
      </fj-Col>
      <fj-Col l=1 class="{styles.hidden_s}">
      </fj-Col>
      <fj-Col l=3 class="{styles.hidden_s}"> 
      </fj-Col>
    </fj-Row>
  </div>
  <h3>交易</h3>
  <ant-Table rowSelection={rowSelection}
    columns={toJS(tableColumns)}
    dataSource={toJS(transactionList)}
    :pagination="{showQuickJumper:true}"
    bordered 
    />
  <TransactionInfo data={transactioninfoData} visible={show} onClose={onClose}/>
</div>
</template>