<div class="{styles.sider}">
  <ant-Menu mode="inline" defaultSelectedKeys="{['1']}" theme="dark">
    <ant-MenuItem key="1"><i class="fjb-menu fjb-menu-overview"></i>摘要</ant-MenuItem>
    <ant-MenuItem key="2"><i class="fjb-menu fjb-menu-history"></i>历史</ant-MenuItem>
    <ant-MenuItem key="3"><i class="fjb-menu fjb-menu-user"></i>用户</ant-MenuItem>
    <ant-MenuItem key="4"><i class="fjb-menu fjb-menu-data"></i>数据账户</ant-MenuItem>
    <ant-MenuItem key="5"><i class="fjb-menu fjb-menu-contract"></i>合约</ant-MenuItem>
  </ant-Menu>
</div>