<div class="{styles.sider}">
  <!-- <ant-Menu mode="inline" defaultSelectedKeys="{['1']}" theme="dark"> -->
  <ant-Menu mode="inline" theme="dark">
    <ant-MenuItem key="1">
      <a href="../../pages/overview.html" style="color: {href == 'overview.html' ? ('#5A77D2', '')}">
        <i class="fjb-menu fjb-menu-overview"></i>账本摘要
      </a>
    </ant-MenuItem>
    <ant-MenuItem key="2">
      <a href="../../pages/history.html" style="color: {href == 'history.html' ? ('#5A77D2', '')}">
        <i class="fjb-menu fjb-menu-history"></i>区块历史
      </a>
    </ant-MenuItem>
    <ant-MenuItem key="3">
      <a href="../../pages/user.html" style="color: {href == 'user.html' ? ('#5A77D2', '')}">
        <i class="fjb-menu fjb-menu-user"></i>用户身份
      </a>
    </ant-MenuItem>
    <ant-MenuItem key="4">
      <a href="../../pages/ledgers.html" style="color: {href == 'ledgers.html' ? ('#5A77D2', '')}">
        <i class="fjb-menu fjb-menu-data"></i>数据账户
      </a>
    </ant-MenuItem>
    <ant-MenuItem key="5">
      <a href="../../pages/contract.html" style="color: {href == 'contract.html' ? ('#5A77D2', '')}">
        <i class="fjb-menu fjb-menu-contract"></i>合约账户
      </a>
    </ant-MenuItem>
  </ant-Menu>
</div>