<template name="container">
  <ant-Drawer
    title="交易详情"
    width="100%"
    placement="right"
    closable={true}
    visible={visible}
    maskClosable={true}
    onClose={onCloseblockDetails}
    class="{styles.transaction}"
  >
    {modelItem(data)}
    <!-- <div class="{styles.option}">
      交易哈希：{data.transactionContent.hash.value}
    </div>
    <div class="{styles.option}">
      交易时间：{data.transactionContent.timestamp && moment(+data.transactionContent.timestamp).format('YYYY-MM-DD hh:mm:ss')}
    </div>
    <div class="{styles.option}">
      执行状态： {data.executionState}
    </div>
    <#if {{data.endpointSignatures}}>
      <BlockCollapse title="终端签名列表">
        <#each {{data.endpointSignatures}}>
          <BlockCollapseSmall  title=" 公钥：{{this.pubKey.value}}" sign="公钥算法：{{tranBase58(this.pubKey.value)}}">
            签名：{{this.digest.value}}
          </BlockCollapseSmall>
        </#each>
      </BlockCollapse>
    </#if>
    <#if {{data.nodeSignatures}}>
      <BlockCollapse title="节点签名列表">
        <#each {{data.nodeSignatures}}>
          <BlockCollapseSmall  title=" 公钥：{{this.pubKey.value}}" sign="公钥算法：{{tranBase58(this.pubKey.value)}}">
            签名：{{this.digest.value}}
          </BlockCollapseSmall>
        </#each>
      </BlockCollapse>
    </#if>
    <#if {{data.transactionContent.operations}}>
      <BlockCollapse title="交易内容">
        <#each {{data.transactionContent.operations}}>
          <#if {{this.writeSet}}>
            <BlockCollapsePanel title="数据写入">
              <h4 style="font-size: 14px;color: #333333;line-height: 14px;    font-weight: bold;margin:16px 0;">写入
              </h4>
              <fj-Row style="margin:16px 0;">
              <fj-Col l=2>账户地址：</fj-Col>
              <fj-Col l=10>{{this.accountAddress.value}} </fj-Col>
              </fj-Row>
              <#each {{this.writeSet}}>
                <BlockCollapseSmall  title="键：{{this.key}}">
                  值：{{formatData(this.value.type,this.value.bytes, this.value.value)}}<br>
                  预期版本：{{this.expectedVersion}}<br>
                  类型：{{this.value.type}}
                </BlockCollapseSmall>
              </#each>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.contractID}}>
            <BlockCollapsePanel title="合约发布">
              <table style="line-height:41px;">
                <tr>
                  <td>合约地址：</td>
                  <td>{{this.contractID.address.value}}</td>
                </tr>
                <tr>
                  <td>合约公钥算法：</td>
                  <td>{{tranBase58(this.contractID.pubKey.value)}}</td>
                </tr>
                <tr>
                  <td>合约公钥：</td>
                  <td>{{this.contractID.pubKey.value}}</td>
                </tr>
                <tr>
                  <td>合约内容：</td>
                  <td>{{this.chainCode}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.contractAddress}}>
            <BlockCollapsePanel title="合约事件操作">
              <table style="line-height:41px;">
                <tr>
                  <td>合约参数：</td>
                  <td>{{argsToList(this.args)}}</td>
                </tr>
                <tr>
                  <td>合约地址：</td>
                  <td>{{this.contractAddress.value}} </td>
                </tr>
                <tr>
                  <td>合约事件：</td>
                  <td>{{this.event}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.accountID}}>
            <BlockCollapsePanel title="数据账户注册">
              <table style="line-height:41px;">
                <tr>
                  <td>数据账户地址：</td>
                  <td>{{this.accountID.address.value}}</td>
                </tr>
                <tr>
                  <td>账户公钥算法：</td>
                  <td>{{tranBase58(this.accountID.pubKey.value)}}</td>
                </tr>
                <tr>
                  <td>账户公钥：</td>
                  <td>{{this.accountID.pubKey.value}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.userID}}>
            <BlockCollapsePanel title="注册用户">
              <table style="line-height:41px;">
                <tr>
                  <td>用户地址：</td>
                  <td>{{this.userID.address.value}}</td>
                </tr>
                <tr>
                  <td>用户公钥算法：</td>
                  <td>{{tranBase58(this.userID.pubKey.value)}}</td>
                </tr>
                <tr>
                  <td>用户公钥数据：</td>
                  <td>{{this.userID.pubKey.value}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.state}}>
            <BlockCollapsePanel title="状态">
              <fj-Row style="margin:16px 0;">
              <fj-Col l=2>状态：</fj-Col>
              <fj-Col l=10>{{stateItem(this.state)}} </fj-Col>
              </fj-Row>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.participantName}}>
            <BlockCollapsePanel title="参与方信息">
              <table style="line-height:41px;">
                <tr>
                  <td>参与方名称：</td>
                  <td>{{this.participantName}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.participantRegisterIdentity}}>
            <BlockCollapsePanel title="注册参与方">
              <table style="line-height:41px;">
                <tr>
                  <td>参与方地址：</td>
                  <td>{{this.participantRegisterIdentity.address.value}}</td>
                </tr>
                <tr>
                  <td>参与方公钥算法：</td>
                  <td>{{tranBase58(this.participantRegisterIdentity.pubKey.value)}}</td>
                </tr>
                <tr>
                  <td>参与方公钥数据：</td>
                  <td>{{this.participantRegisterIdentity.pubKey.value}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.participantID}}>
            <BlockCollapsePanel title="{{partItem(this.state)}}">
              <table style="line-height:41px;">
                <tr>
                  <td>参与方地址：</td>
                  <td>{{this.participantID.address.value}}</td>
                </tr>
                <tr>
                  <td>参与方公钥算法：</td>
                  <td>{{tranBase58(this.participantID.pubKey.value)}}</td>
                </tr>
                <tr>
                  <td>参与方公钥数据：</td>
                  <td>{{this.participantID.pubKey.value}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.stateUpdateIdentity}}>
            <BlockCollapsePanel title="更新参与方">
              <table style="line-height:41px;">
                <tr>
                  <td>参与方地址：</td>
                  <td>{{this.stateUpdateIdentity.address.value}}</td>
                </tr>
                <tr>
                  <td>参与方公钥算法：</td>
                  <td>{{tranBase58(this.stateUpdateIdentity.pubKey.value)}}</td>
                </tr>
                <tr>
                  <td>参与方公钥数据：</td>
                  <td>{{this.stateUpdateIdentity.pubKey.value}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.eventAccountID}}>
            <BlockCollapsePanel title="事件账户">
              <table style="line-height:41px;width:100%;">
                <tr>
                  <td>事件账户地址：</td>
                  <td>{{this.eventAccountID.address.value}}</td>
                </tr>
                <tr>
                  <td>事件账户公钥算法：</td>
                  <td>{{tranBase58(this.eventAccountID.pubKey.value)}}</td>
                </tr>
              </table>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.eventAddress || this.events}}>
            <BlockCollapsePanel title="事件">
              <table style="line-height:41px;width:100%;">
                <tr>
                  <td>事件地址：</td>
                  <td>{{this.eventAddress.value || ''}}</td>
                </tr>
              </table>
              <#each {{this.events}}>
                <BlockCollapse title="事件：{{name}}">  
                  <table style="line-height:41px;width:100%;">
                    <tr>
                      <td>事件序列：</td>
                      <td>{{sequence || 0}}</td>
                    </tr>
                    <#if {{this.content}}>
                      <tr>
                        <td>字节：</td>
                        <td>{{this.content.bytes && this.content.bytes.value || ''}}</td>
                      </tr>
                      <tr>
                        <td>类型：</td>
                        <td>{{this.content.type || ''}}</td>
                      </tr>
                      <tr>
                        <td>值：</td>
                        <td>{{this.content.value + ''}}</td>
                      </tr>
                    </#if>
                  </table>
                </BlockCollapse>
              </#each>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.roles}}>
            <BlockCollapsePanel title="角色配置">
              <#each {{this.roles}}>
                <BlockCollapse title="角色：{{roleName}}">  
                  <BlockCollapseSmall title="账本操作权限">
                    <table style="width:100%">
                      <tr>
                        <td>可以执行的操作：</td>
                        <td>{{enableLedgerPermissions && transform(enableLedgerPermissions) || ''}}</td>
                      </tr>
                      <#if {{disableLedgerPermissions && disableLedgerPermissions.length != 0}}>
                        <tr>
                          <td>不可执行的操作：</td>
                          <td>{{disableLedgerPermissions && transform(disableLedgerPermissions) || ''}}</td>
                        </tr>
                      </#if>
                    </table>
                  </BlockCollapseSmall>
                  <BlockCollapseSmall title="交易操作权限">
                    <table style="width:100%" >
                      <tr>
                        <td>可以执行的操作：</td>
                        <td>{{enableTransactionPermissions && transform(enableTransactionPermissions) || ''}}</td>
                      </tr>
                      <#if {{disableTransactionPermissions && disableTransactionPermissions.length != 0}}>
                        <tr>
                          <td>不可执行的操作：</td>
                          <td>{{disableTransactionPermissions && transform(disableTransactionPermissions) || ''}}</td>
                        </tr>
                      </#if>
                    </table>
                  </BlockCollapseSmall>
                </BlockCollapse>
              </#each>
            </BlockCollapsePanel>
          </#if>
          <#if {{this.userRolesAuthorizations}}>
            <BlockCollapsePanel title="用户权限配置">
              <#each {{this.userRolesAuthorizations}}>
                <table style="width:100%;line-height:41px;">
                  <tr>
                    <td>用户地址：</td>
                    <td>{{(userAddresses && userAddresses[0] && userAddresses[0].value) && userAddresses[0].value || ''}}</td>
                  </tr>
                  <tr>
                    <td>用户授权的角色清单：</td>
                    <td>{{authorizedRoles && authorizedRoles.join(',') || 'DEFAULT'}}</td>
                  </tr>
                  <tr>
                    <td>剔除的角色清单：</td>
                    <td>{{unauthorizedRoles && unauthorizedRoles.join(',') || ''}}</td>
                  </tr>
                  <tr>
                    <td>要更新的多角色权限策略：</td>
                    <td>{{policy && policy || ''}}</td>
                  </tr>
                </table>
              </#each>
            </BlockCollapsePanel>
          </#if>
        </#each>
      </BlockCollapse>
    </#if> -->
  </ant-Drawer>
</template>