<template name="container">
  <h3>数据详情</h3>
  <div class="{styles.info}">
    <fj-Row class="{styles.gl}">
      <fj-Col l=1  s=4  xs=12>地址
      </fj-Col>
      <fj-Col l=5  s=8  xs=12>{accountData && accountData.address && accountData.address || ''}
      </fj-Col>
      <fj-Col l=1  s=4  xs=12>公钥
      </fj-Col>
      <fj-Col l=5  s=8  xs=12>{accountData && accountData.pubKey && accountData.pubKey || ''}
      </fj-Col>
      <fj-Col l=1  s=4  xs=12>创建用户
      </fj-Col>
      <fj-Col l=5  s=8  xs=12>{accountData && accountData.permission && accountData.permission.owners || ''}
      </fj-Col>
      <fj-Col l=1  s=4  xs=12>所属角色
      </fj-Col>
      <fj-Col l=5  s=8  xs=12>{accountData && accountData.permission && accountData.permission.role || 'DEFAULT'}
      </fj-Col>
      <fj-Col l=1  s=4  xs=12>权限值
      </fj-Col>
      <fj-Col l=5  s=8  xs=12>{accountData && accountData.permission && accountData.permission.modeBits || ''}
      </fj-Col>
      <fj-Col l=1  s=4  xs=12>KV数量
      </fj-Col>
      <fj-Col l=5  s=8  xs=12><KvCount address={accountData.address} key={accountData.address} />
      </fj-Col>
    </fj-Row>
    <h3>数据写入</h3>
    <ant-Table
      columns={toJS(tableColumns)}
      dataSource={toJS(kvData)}
      :pagination="{
          current: accountcurrent,
          pageSize: pageSize,
          total: accountcount,
          onChange: onPageChange,
          showQuickJumper:true
        }"
      bordered />
      <ant-Drawer
        title="值详情"
        width="100%"
        placement="right"
        closable={true}
        visible={visible}
        maskClosable={true}
        onClose={onCloseblockDetails}
        class="{styles.transaction}"
      >
        <#if {{valueinfotype == "BYTES"}}>
          {valueinfo}
          <#elseif {{valueinfotype == "JSON"}}}>
            {Jsontree()}
          </#elseif>
          <#else>
             {valueinfo}
          </#else>
        </#if>
      </ant-Drawer>
  </div>
</template>