ul.nav {
  font-size: 0.875rem;
  margin-top: 10px;
  margin-left: 15px;
  float: left;
}
.note{
  color: #fff;
  float:right;
  padding-right: 30px;
  .value{
    width: 472px;
    border: 1px solid #ADC6FF;
    border-radius: 4px;
  }
}