<!DOCTYPE html>
<html>
<% if (web) { %>
@@include('./common/headElements.html')
<% } else { %>
<$include src="./common/headElements.html" />
<% } %>
<body>
<% if (web) { %>
@@include('./common/resourceElements.html')
<% } else { %>
<$include src="./common/resourceElements.html" />
<% } %>
<link href="/res/app/css/common.css?ver=<%=ver%>" rel="stylesheet" />
  <link href="/res/app/css/pages/ledgers/container.css?ver=<%=ver%>" rel="stylesheet" />
  <section id="container"></section>
  <script type="text/nornj" data-auto data-target="#container">
    <Container>
      <#tmpl>
        <div class="fjb-pagecontainer">
          <fjb-Header no=ledgers />
          <section class="fjb-body">
            <aside class="fjb-aside">
              <Sider />
            </aside>
            <section class="fjb-main">
              <section class="fjb-content {styles.content}">
                <DataTable />
              </section>
            </section>
          </section>
        </div>
      </#tmpl>
    </Container>
  </script>
<% if (web) { %>
@@include('./common/bottomElements.html')
<% } else { %>
<$include src="./common/bottomElements.html" />
<% } %>
<script src="/res/app/pages/ledgers/container.js?ver=<%=ver%>"></script>
</body>
</html>