<header class="site-header">
  <div class="logo">
  </div>
  <ant-Menu mode="horizontal" class="nav" defaultValue="1">
    <ant-MenuItem key="1"> <ant-Icon type="home" />首页</ant-MenuItem>
    <ant-MenuItem key="2"> <ant-Icon type="switcher" />数据账户</ant-MenuItem>
    <ant-MenuItem key="3"> <ant-Icon type="block" />区块</ant-MenuItem>
    <ant-MenuItem key="4"> <ant-Icon type="swap" />交易</ant-MenuItem>
    <ant-MenuItem key="5"> <ant-Icon type="user" />用户</ant-MenuItem>
  </ant-Menu>
   <div class="note">
    账本：
    <!-- <ant-Select placeholder="请选择账本" class={styles.value} >
      <ant-Option value="64hnH4a8n48LeEP5HU2bMWmNxUPcaZ1JRCehRwvuNS8Ty" >64hnH4a8n48LeEP5HU2bMWmNxUPcaZ1JRCehRwvuNS8Ty</ant-Option>
    </ant-Select> -->
    <ant-Select  value="{common.defaultledger}" style="width:300px;" >
      <#each {{common.ledgers}}>
        <ant-Option value="{{value}}">{{value}}</ant-Option>
      </#each>
    </ant-Select>
  </div>
</header>