<header class="site-header">
  <div class="logo">
  </div>
  <ant-Menu mode="horizontal" class="nav">
    <ant-MenuItem key="../../pages/search.html"> <ant-Icon type="home" />首页</ant-MenuItem>
    <ant-MenuItem key="../../pages/ledgers.html"> <ant-Icon type="switcher" />数据账户</ant-MenuItem>
    <ant-MenuItem key="../../pages/history.html"> <ant-Icon type="block" />区块</ant-MenuItem>
    <ant-MenuItem key="4"> <ant-Icon type="swap" />交易</ant-MenuItem>
    <ant-MenuItem key="5"> <ant-Icon type="user" />用户</ant-MenuItem>
  </ant-Menu>
   <div class="note">
    账本：
    <!-- <ant-Select placeholder="请选择账本" class={styles.value} >
      <ant-Option value="64hnH4a8n48LeEP5HU2bMWmNxUPcaZ1JRCehRwvuNS8Ty" >64hnH4a8n48LeEP5HU2bMWmNxUPcaZ1JRCehRwvuNS8Ty</ant-Option>
    </ant-Select> -->
    <ant-Select defaultValue="lucy">
      <ant-Option value="jack">Jack</ant-Option>
    </ant-Select>
  </div>
</header>