.site-header {
  font-size: 16px;
  height: 62px;
  border-bottom: 1px solid #ebebeb;
  width: 100%;
  z-index: 100;
  transition: all 0.5s ease-out;
  background-image: linear-gradient(90deg, #5A77D3 5%, #3C4C9C 100%);
  box-shadow: 0 2px 6px 0 rgba(90,119,211,0.40);
  display: flex;
  flex: auto 0 0;

  .nav {
    font-size: 0.875rem;
    margin-left: 50px;
    float: left;
    background: transparent;
    color: #fff;
    border: 0;
    flex: 1;
      
      li {
        color: #fff !important;
        font-size: 16px;
        line-height: 61px;
        margin: 0px;
        &:hover{
          background: #3C4C9C !important;
      } 
    }
  }
  .logo {
    margin: 16px 0 16px 24px;
    float: left;
    height: 32px;
    width: 159px;
    background-image: url('../../images/logo.png');
    background-repeat: no-repeat;
  }

  .note {
    color: #fff;
    float:right;
    padding: 15px;
    font-size: 14px;
    color:#ADC6FF;
    line-height: 14px;
    display: flex;
    align-items: center;
    
    .value {
      width: 200px;
      border: 1px solid #ADC6FF;
      border-radius: 4px;
    }

    .ant-select-arrow svg {
      color: #fff;
    }

    .copy {
      font-size: 23px;
      margin-left: 5px;
      cursor: pointer;
    }
  }
  &.isMenuOpen > ul {
    padding-left: 0;
  }

  li {
    float: left;
    text-align: center;
    margin-left: 20px;
    position: relative;
    overflow: hidden;
    cursor: pointer;

    a {
      color: #b7becc;
      display: inline-block;
      height: 79px;
    }

    &:after {
      content: '';
      width: 100%;
      height: 2px;
      background: #3bbabb;
      position: absolute;
      bottom: -2px;
      left: 0;
      transition: all 0.5s;
    }

    .site-nav {
      float: left;
    }
  }

  li.cur {
    color: #333;

    &:after {
      bottom: 0;
    }
  }

  .login-wrap {
    float: right;
    padding: 14px 18px 0 0;

    a.link {
      font-size: 14px;
      color: #777792;
      margin: 0 30px;

      &.cur {
        color: #35a5a6;
      }
    }

    span {
      color: #ebebeb;
      font-size: 12px;
    }

    .avatar {
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-position: center center;
      background-repeat: no-repeat;
      display: inline-block;

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }
  }

  .footContent {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: MicrosoftYaHei;
    font-size: 12px;
    color: #999999;
    .linker {
      text-decoration: none;
      color: #5A77D3;
    }
    .linker:hover {
      color: #5A77D3;
    }
} 
}
