.content {
  .inputTable {
    min-width: 200px;
    width: 248px;
    margin-right: 10px;
    border-color: #d9d9d9;
  }

  .bgPageInviting {
    padding: 10px;
    .pageSubTitle{
      font-size: 18px;
      font-weight: normal;
      position: relative;
      line-height: 16px;
      padding-left: 10px;
      border-bottom: 1.6px solid #eee;
      &:before{
        content: '';
        position: absolute;
        left: 0;
        height: 16px;
        width: 3px;
        background: #e13a25;
      }
    };
  }
}