@media only screen and (-webkit-min-device-pixel-ratio: 2) {
  html {
    -webkit-text-size-adjust: none;
  }
}

body,
div,
p,
h1,
h2,
h3,
h4,
h5,
h6,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
form,
fieldset,
legend,
button,
input,
textarea,
table,
th,
td {
  margin: 0;
  padding: 0;
}

address,
cite,
em,
i {
  font-style: normal;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

legend {
  color: #000;
}

fieldset,
img {
  border: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  color: #333;
  background: #f2f3f5;
  -webkit-appearance: none;
  -webkit-font-smoothing: auto;
  font-size: 14px;
  font-family: 'Helvetica Neue', Helvetica, Arial, 'PingFang SC', 'Hiragino Sans GB', 'Heiti SC', 'Microsoft YaHei',
    'WenQuanYi Micro Hei', sans-serif;
}

// body,
// html {
//   min-width: 1270px;
// }

* {
  word-break: break-all !important;
}

.clearfix:after,
.wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: ' ';
  clear: both;
  height: 0;
}

* html .clearfix {
  height: 1%;
}

.clearfix {
  display: block;
}

.tl {
  text-align: left;
}

.tc {
  text-align: center;
}

.tr {
  text-align: right;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.layout-box {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.middle * {
  display: inline-block;
  vertical-align: middle;
}

.middle option {
  display: block;
}

#page-wrap {
  transition: all 0.5s ease-out;
}

.isMenuOpen {
  padding-left: 200px;
}

.fj-row::before,
.fj-row::after,
.fj-row-left::before,
.fj-row-left::after,
.fj-row-right::before,
.fj-row-right::after {
  display: table;
  content: ' ';
}

.fj-row::after,
.fj-row-left::after,
.fj-row-right::after {
  clear: both;
}

.propMenu {
  font-size: 1.5rem;
  cursor: pointer;
  margin-top: 16px;
  margin-right: 40px;
  color: #919090;
}

.propTooltip {
  width: 180px;
  height: 220px;
}

.propTitle {
  height: 30px;
  line-height: 30px;
  font-size: 1rem;
  padding-left: 5px;
}

.propBody {
  height: 190px;
  overflow-y: auto;
}

.propItem {
  height: 30px;
  line-height: 30px;
}

.basePanel {
  height: 550px;
  border-radius: 5px;
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
  border-color: #ccccda;
  border-width: 1px;
  border-style: solid;

  .basePanelTitle {
    height: 40px;
    line-height: 45px;
    background-color: #fafafa;
    border-radius: 5px;
    padding-left: 25px;
    font-size: 1rem;
    font-weight: bold;
  }
}

div.fj-area-chart-area {
  overflow: visible;
}

.vicb-logo {
  width: 120px;
  height: 31px;
  background: #1d5c5c;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 30px;
  float: left;
}

.footContent {
  flex: 0 0 auto;
  text-align: center;
  line-height: 52px;
  border-top: 1px solid #e8e8e9;
  margin: 0 30px;
  word-break: break-word !important;
}

#app,
#outer-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex: auto;
}

#page-wrap {
  flex: auto;
}

.ant-btn-primary{
  background: #5A77D3;
  border-color: #5A77D3; 
}
.ant-menu-horizontal > .ant-menu-item:hover, .ant-menu-horizontal > .ant-menu-submenu:hover, .ant-menu-horizontal > .ant-menu-item-active, .ant-menu-horizontal > .ant-menu-submenu-active, .ant-menu-horizontal > .ant-menu-item-open, .ant-menu-horizontal > .ant-menu-submenu-open, .ant-menu-horizontal > .ant-menu-item-selected, .ant-menu-horizontal > .ant-menu-submenu-selected {
  border-bottom: 0;
  background: #3C4C9C;
}
.ant-menu-horizontal > .ant-menu-item, .ant-menu-horizontal > .ant-menu-submenu {
  top: 0px;
}
.ant-select-selection--single {
  height: 32px;
  position: relative;
  cursor: pointer;
  background: #5A77D3;
  border: 1px solid #ADC6FF;
  border-radius: 4px;
  color: #fff;
}
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
  border-right: 0px; 
}
.ant-table-bordered .ant-table-header > table, .ant-table-bordered .ant-table-body > table, .ant-table-bordered .ant-table-fixed-left table, .ant-table-bordered .ant-table-fixed-right table {
  border-left: 0;
  border-right: 0;
}
.ant-table-thead > tr, .ant-table-tbody > tr {
  height: 54px;
}
.ant-table-bordered.ant-table-empty .ant-table-placeholder {
  border-left: 0; 
  border-right: 0; 
}
.ant-table-tbody tr td {
  padding: 16px;
}
.ant-table-bordered .ant-table-thead > tr > th, .ant-table-bordered .ant-table-tbody > tr > td {
  text-align: left;
}
.ant-table-tbody tr:nth-child(odd){
  background: rgba(90,119,211,0.05);
}
.ant-table-thead > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr.ant-table-row-hover:not(.ant-table-expanded-row) > td, .ant-table-thead > tr:hover:not(.ant-table-expanded-row) > td, .ant-table-tbody > tr:hover:not(.ant-table-expanded-row) > td {
  background: rgba(90,119,211,0.15);
}
.site-header li:after{
  background: unset !important;
}
.lights {
  .bg {
    background: #5A77D2 !important;
    background-image: url('../images/overview_bg.png') !important;
  }
}

.blockCollapse {
  background: #fff;
  border-bottom: 1px solid #CCCCCC;
  overflow: hidden;
  font-size: 14px;
}

.blockCollapse .ant-collapse-header {
  color: #5B77D3 !important;
  padding: 0 !important;
  line-height: 56px !important;
}

.blockCollapse .ant-collapse-header .ant-collapse-arrow {
  left: inherit !important;
  right: 20px;
}

.blockCollapsesmall {
  background: #FAFAFA;
  border-radius: 4px !important;
  border: 0 !important;
  margin-bottom: 24px;
}

.blockCollapsesmall div {
  line-height: 41px;
  word-break: break-all;
}

.blockCollapsesmall .ant-collapse-header {
  padding-left: 16px !important;
}

.blockCollapsePanel {
  margin-bottom: 20px;
}

.blockCollapsePanel .header {
  background: #ADC6FF;
  border-radius: 4px;
  width: 100%;
  height: 50px;
  font-size: 14px;
  color: #FFFFFF;
  line-height: 14px;
  line-height: 50px;
  padding-left: 16px;
}

.blockCollapsePanel .body {
  padding: 0 24px 24px 24px;
}

.swiper-button-prev {
  left: 0 !important;
}

.swiper-button-next {
  right: 0 !important;
}

.ant-drawer-content-wrapper {
  max-width: 600px !important;
}