<header class="site-header">
  <div class="logo">
  </div>
  <div class="minimenu">
    <ant-Icon class="menuDr" type="menu" onClick={handleMenuShow}/>
  </div>
  <ant-Menu mode="horizontal" class="nav" selectedKeys={store.header.selectMenu} onClick={CheckMenu}>
    <!-- <ant-MenuItem key="search"> <ant-Icon type="home" />首页</ant-MenuItem>
    <ant-MenuItem key="account"> <ant-Icon type="switcher" />数据账户</ant-MenuItem>
    <ant-MenuItem key="3"> <ant-Icon type="block" />区块</ant-MenuItem>
    <ant-MenuItem key="4"> <ant-Icon type="swap" />交易</ant-MenuItem>
    <ant-MenuItem key="user"> <ant-Icon type="user" />用户</ant-MenuItem> -->
    <#each {store.header.menuData}>
      <ant-MenuItem key={path}> <ant-Icon type={icon} />{name}</ant-MenuItem>
    </#each>
  </ant-Menu>
   <div class="note">
    <span class="t">账本：</span>
    <!-- <ant-Select placeholder="请选择账本" class={styles.value} >
      <ant-Option value="64hnH4a8n48LeEP5HU2bMWmNxUPcaZ1JRCehRwvuNS8Ty" >64hnH4a8n48LeEP5HU2bMWmNxUPcaZ1JRCehRwvuNS8Ty</ant-Option>
    </ant-Select> -->
    <ant-Select  value="{common.defaultledger}" onChange={handleSelectChange} class="ledgers">
      <#each {{common.ledgers}}>
        <ant-Option key="{@index}" value="{@item}">{{@item}}</ant-Option>
      </#each>
    </ant-Select>
    <ant-Tooltip title="复制账本" placement="bottomLeft" onClick={onClickCopy}>
      <ant-Icon type="copy" class="copy"/>
    </ant-Tooltip>
     <ant-Tooltip title="查看账本" placement="bottomLeft" onClick={onClickEye}>
      <ant-Icon type="eye" class="copy"/>
    </ant-Tooltip>
  </div>
</header>
<ant-Drawer
  title="账本信息"
  width="100%"
  placement="right"
  closable={true}
  visible={visible}
  maskClosable={true}
  onClose={onClose}
  >
  <fj-Row class="gl">
    <fj-Col l=3 s=4  xs=12>账本种子
    </fj-Col>
    <fj-Col l=9 s=8  xs=12>
      {common.ledgerinfo.seed}
    </fj-Col>
    <fj-Col l=3 s=4  xs=12>账本结构版本
    </fj-Col>
    <fj-Col l=9 s=8  xs=12>
      {common.ledgerinfo.ledgerStructureVersion === undefined && -1 || common.ledgerinfo.ledgerStructureVersion}
    </fj-Col>
  </fj-Row>
  <h2 class="htitle">
    共识
  </h2>
  <fj-Row class="gl">
    <fj-Col l=3 s=4  xs=12>共识方式
    </fj-Col>
    <fj-Col l=9 s=8  xs=12>
      {common.ledgerinfo.consensusProtocol}
    </fj-Col>
  </fj-Row>
  <h2 class="htitle">
    共识配置
  </h2>
  <ant-Table
      class="table"
      columns={toJS(tableColumnsOfconfig)}
      dataSource={toJS(common.ledgerinfo.consensusSettings.systemConfigs)}
      bordered />
   <h2 class="htitle">
    密码算法配置
  </h2>
  <fj-Row class="gl">
    <fj-Col l=2 s=4  xs=12>是否校验Hash
    </fj-Col>
    <fj-Col l=4 s=8  xs=12>
      {common.ledgerinfo.cryptoSetting.autoVerifyHash && '是' || '否'}
    </fj-Col>
    <fj-Col l=2 s=4  xs=12>Hash算法
    </fj-Col>
    <fj-Col l=4 s=8  xs=12>
      {numToalgorithm(common.ledgerinfo.cryptoSetting.hashAlgorithm)}
    </fj-Col>
  </fj-Row>
  <h2 class="htitle">
    参与方
  </h2>
  <ant-Table
      class="table"
      columns={toJS(tableColumns)}
      dataSource={toJS(common.ledgerinfo.participantNodes)}
      bordered />
</ant-Drawer>

<ant-Drawer
  title={titleItem()}
  placement="left"
  visible={showMenu}
  onClose={handleMenuHide}
  closable={false}
  maskClosable={true}
  class="leftdrawer"
>
  <ant-Menu mode="vertical" selectedKeys={store.header.selectMenu} onClick={CheckMenu} class="lefmenu">
    <#each {store.header.menuData}>
      <ant-MenuItem key={path}> <ant-Icon type={icon} />{name}</ant-MenuItem>
    </#each>
  </ant-Menu>
</ant-Drawer>