.search {
  padding:0 30px;

  h2 {
    margin-bottom: 25px;
    font-size: 20px;
    line-height: 70px;
    height: 70px;
    border-bottom: 1px solid #e8e8e9;
  }

  .main{
    margin: 100px auto 0 auto;

    .headtitle{
      font-size: 36px;
      font-weight: bold;
      text-align: center;
    }

    .action{
      width:1000px;
      height:100px;  
      margin: 15px auto 0 auto;
      border-radius: 5px;
      box-shadow: 0px 0px 14px #5a77d3;
      background: linear-gradient(90deg, #5a77d3, #3c4c9c);
      .bg{
        height: inherit;
        background: url(../../images/overview_bg.png) no-repeat;
        display: flex;
        justify-content: center;
        align-items: center;

        .title{
          font-size: 14px;
          color: #fff;
        }

        .input{
          width: 676px;
          margin: 0 15px;
        }

        .btn{
          background-color: #3c4c9c;
          color: #fff;
          border: 1px solid #819df3;
        }
      }
    }
    
    .summary {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin-top: 100px; 
      margin-bottom: 30px;
      // 区块高度等页签样式
       .tabs {
          height: 132px;
          width:243px;
          margin-right: 30px;
          padding: 24px;
          box-shadow: 0 0 8px 0 rgba(0,0,0,0.08);
          border-radius: 4px;
           .span {
              display: flex;
              flex-direction: row;
               .left {
                  width: 75%;
              }
               .right {
                  width: 25%;
                   .logo {
                      min-width: 60px;
                      background-size: 60px 67px;
                      width: 100%;
                      height: 160px;
                  }
                   .logoBH {
                      background: url('../../images/blockheightIcon.svg') no-repeat;
                  }
                   .logoTR {
                      background: url('../../images/transactionIcon.svg') no-repeat;
                  }
                   .logoUS {
                      background: url('../../images/userIcon.svg') no-repeat;
                  }
                   .logoLE {
                      background: url('../../images/ledgersIcon.svg') no-repeat;
                  }
                   .logoCO {
                      background: url('../../images/contractIcon.svg') no-repeat;
                  }
              }
          }
      }
  
       .blockHeight {
          background: #0DB18C;
          background-image: url('../../images/overview_bg.png');
          background-repeat: no-repeat;
          background-size: 250px;
      }
  
       .transactions {
          background: #10A647;
          background-image: url('../../images/overview_bg.png');
          background-repeat: no-repeat;
          background-size: 250px;
      }
  
       .users {
          background: #037CC1;
          background-image: url('../../images/overview_bg.png');
          background-repeat: no-repeat;
          background-size: 250px;
      }
  
       .ledgers {
          background: #5A77D2;
          background-image: url('../../images/overview_bg.png');
          background-repeat: no-repeat;
          background-size: 250px;
      }
  
       .contracts {
          background: #3C4C9C; 
          margin-right: 0;
          background-image: url('../../images/overview_bg.png');
          background-repeat: no-repeat;
          background-size: 250px;
      }
  
       .title {
          font-size: 14px;
          color: #FFFFFF;
          line-height: 14px;
      }
  
       .data {
          font-family: ArialMT;
          font-size: 3em;
          color: #FFFFFF;
          line-height: 54px;
          margin-top: 27px;
      }
      
    }

    .list{
      width: 100%;
      background: #fff;
      border-radius: 4px;
      padding: 30px;
      margin-top: 30px;
      .listdesc{
        font-size: 12px;
        color: gray;
        span{
          color: #000;
           font-weight: bold;
        }
      }
      .option{
        padding: 10px; 
        min-height: 100px; 
        border-bottom: 1px solid #eaecf3;
        .title{
          font-size: 18px;
          margin-bottom: 20px;
          color: #999;
          span{
            margin-right: 10px;
            i{
              margin-right:unset;
              color:#5a77d3;
              font-weight: bold;
            }
          }
        }
        .content{
          font-size: 14px;
          color: #999;
          span{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
